html,
body {
	margin: 0;
	font-size: 18px;
	text-align: center;
	color: #333;
	font-family: "Chelsea Market", cursive;
}

h1 {
	margin: 15px 0 0 0;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	position: relative;
	color: #fafafa;
	background-color: #93c9e4;
	background-image: url("../clouds.png");
	background-size: 100% 40%;
	background-repeat: no-repeat;
	background-position: bottom;
	flex: 3;
	z-index: 20;

	&::after {
		content: "";
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 8px;
		background-color: #93c9e4;
		z-index: 10;
		filter: blur(2px);
	}
}

.message-container {
	position: relative;
	flex: 2;
	background: linear-gradient(#448bb6 5%, #42afcf);
	background-position: bottom;
	background-repeat: repeat-x;

	font-family: "Kalam", cursive;

	&::after {
		content: "";
		position: absolute;
		bottom: -60px;
		left: 0;
		width: 100%;
		height: 60px;
		background-image: url("../waves.png");
		background-repeat: repeat-x;
		z-index: 10;
	}
}

.newMessage {
	flex: 1;
	background-color: #ebdfcd;
	background-image: url("../sand.png");
	padding: 70px 5% 10px 5%;

	textarea {
		display: block;
		margin: auto;
		padding: 10px;
		width: 50%;
		min-width: 250px;
		height: 7rem;
		border: none;
		background: none;
		background-image: url("../paper.png");
		box-sizing: border-box;
		resize: vertical;
	}

	button {
		background: none;
		border: none;
		padding: 5px;
		cursor: pointer;

		&:hover {
			color: #fafafa;
		}
	}
}

.bottle {
	background: none;
	border: none;
	position: absolute;
	padding: 0;
	cursor: pointer;
	left: 5%;
	bottom: 60%;
	width: 20px;
	animation: float-in 5s ease-in-out forwards;
	z-index: 20;

	img {
		width: 100%;
		&:hover {
			animation: shake 0.3s linear infinite alternate;
			filter: drop-shadow(5px 4px 2px rgba(0, 0, 0, 0.2));
		}
	}
}

button,
input,
textarea {
	font-family: "Kalam", cursive;
	font-size: 1rem;
	color: #333;
}

details .learn-more {
	position: absolute;
	margin: 0 10%;
	padding: 10px 4%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0;
	z-index: 30;
	transition: all 0.2s ease;
}

details[open] .learn-more {
	opacity: 1;
	transition: all 0.2s ease;
}

summary {
	cursor: pointer;
}

.msg {
	position: fixed;
	top: 50px;
	left: 5%;
	right: 5%;
	background-image: url("../paper_old.png");
	min-height: 50vh;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	padding: 50px 5%;
	z-index: 30;
	text-align: left;
	box-sizing: border-box;

	button {
		background: none;
		border: none;
		position: absolute;
		top: 0;
		right: 7px;
		font-size: 1.7rem;
	}
}

.msg-enter {
	transform: translateY(100%);
	opacity: 0;
	height: 10vh;
	transition: 0.5s;
	&.msg-enter-active {
		opacity: 1;
		transform: translateY(0);
		height: 50vh;
	}
}

.msg-exit {
	transform: translateY(0);
	opacity: 1;
	height: 50vh;
	transition: 0.5s;
	&.msg-exit-active {
		opacity: 0;
		transform: translateY(100%);
		height: 10vh;
	}
}

@keyframes float-in {
	0% {
		width: 15px;
		transform: translateY(0px);
		filter: blur(1px);
		opacity: 0.9;
	}
	20% {
		transform: translateY(-15px) rotate(-10deg);
	}
	40% {
		transform: translateY(0px) rotate(0deg);
	}
	60% {
		transform: translateY(-30px) rotate(10deg);
	}
	80% {
		transform: translateY(0px) rotate(0deg);
	}
	100% {
		width: 45px;
		bottom: -60px;
		left: calc(50% - 22px);
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	/* 50% {
		transform: rotate(-10deg);
	} */
	100% {
		transform: rotate(-10deg);
	}
}

@media screen and (max-height: 700px) {
	main {
		height: 125vh;
	}
}
