html,
body {
	text-align: center;
	/* background-image: url("../beach.jpg");
	background-size: cover;
	background-position: bottom middle; */
}

h1,
h2 {
	font-family: "Chelsea Market", cursive;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	position: relative;
	color: #fafafa;
	background-color: #93c9e4;
	background-image: url("../clouds.png");
	background-size: 100% 40%;
	background-repeat: no-repeat;
	background-position: bottom;
	flex: 4;
	z-index: 20;

	&::after {
		content: "";
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 8px;
		background-color: #93c9e4;
		z-index: 10;
		filter: blur(2px);
	}
}

section.message {
	position: relative;
	flex: 2;
	background: linear-gradient(#448bb6 5%, #42afcf);
	background-position: bottom;
	background-repeat: repeat-x;

	font-family: "Kalam", cursive;

	&::after {
		content: "";
		position: absolute;
		bottom: -60px;
		left: 0;
		width: 100%;
		height: 60px;
		background-image: url("../waves.png");
		background-repeat: repeat-x;
		z-index: 10;
	}
}

.newMessage {
	flex: 1;
	background-color: #ebdfcd;
	background-image: url("../sand.png");
	padding-top: 100px;
	padding-bottom: 10px;
}

.bottle {
	position: absolute;
	left: 5%;
	bottom: 60%;
	width: 20px;
	animation: float-in 5s ease-in-out forwards;
	z-index: 20;

	img {
		width: 100%;
	}
}

button,
input {
	font-family: "Kalam", cursive;
}

@keyframes float-in {
	0% {
		width: 15px;
		transform: translateY(0px);
		filter: blur(1px);
		opacity: 0.9;
	}
	20% {
		transform: translateY(-15px);
	}
	40% {
		transform: translateY(0px);
	}
	60% {
		transform: translateY(-30px);
	}
	80% {
		transform: translateY(0px);
	}
	100% {
		width: 45px;
		bottom: -60px;
		left: calc(50% - 22px);
		filter: blur(0);
		opacity: 1;
	}
}
